*, *::before, *::after{
    box-sizing: border-box;
      /* border: 1px green solid;   */
}

body{
    background-color:white; 
    padding: 0;
    margin: 0;
}

.main-nav ul{
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-nav a{
    color: black;
    text-decoration: none;
 
    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 17px;
    text-align: center;
    letter-spacing: 0.0408545px;
}

.main-nav a:hover{
    color: #adadad;
    
    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 17px;
    text-align: center;
    letter-spacing: 0.0408545px;
}
 
.collapse{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.signin{
    color: black;
    text-decoration: none;
    
    /* margin: 4px; */
    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 17px;
    text-align: center;
    letter-spacing: 0.0408545px;   
}

.Group19{
     margin-right: 28px; 
    width: 180.76px;
    height: 52px;
    background: linear-gradient(90deg, #55CDFF 4.26%,  #2A3990 109.69%);
    border-radius: 5px;
    
    color: white;
    text-decoration: none;
    
    font-family: Helvetica Medium;
    font-style: normal;
    font-weight: 500;
    font-size: 13.6441px;
    line-height: 13px;
    
     text-align: center;
}

.become{
    
    font-family: Helvetica;
font-style: normal;
font-weight: bold;
font-size: 56.227px;
line-height: 65px;
letter-spacing: 0.0393358px;
/* border: 1px solid red; */
color: #2A3990;
}

.earn{
    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    /* or 175% */

    letter-spacing: 0.0408545px;

    color: #000000;
}

.signup{
    width: 180.76px;
    height: 52px;
    background: linear-gradient(90deg, #55CDFF 4.26%,  #2A3990 109.69%);
    border-radius: 5px;
    border: none;
    font-family: Helvetica Medium;
    font-style: normal;
    font-weight: 500;
    font-size: 16.8927px;
    line-height: 16px;
    text-align: center;

    color: #FFFFFF;
}

.free{
    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 28px;
    /* or 233% */
    letter-spacing: 0.0408545px;
    color: #2A3990;
}

.becomerow{
    overflow: hidden;
}

.rec560{
    background: #EAF7FB;
    overflow: hidden;
    display: flex;
}

.rec554{
    width: 389px;
    height: 187px;
    background: #55CDFF;
    border-radius: 10px;
    align-content: center;
    margin-top: 70px;
    /* border: 1px solid gold; */
}

.rec558{
    margin-top: 93px;
}

.join{
    margin-top: 70px;
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 25.52px;
    line-height: 29px;
    letter-spacing: 0.0441229px;
    color: #2A3990;
} 

.head6{
    font-family :Helvetica;
    font-Weight: 700;
    font-Style: normal;
    Size: 16px;
    Line-height: 28px;
    letter-spacing: 0.04 px;
    color: #2A3990;
}

.points{
    font-family: Helvetica;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.0408545px;
}

.qual{
    margin-top: 158px;
}

.provide{
    font-family: Helvetica;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 17px;
    /* or 142% */
    letter-spacing: 0.0408545px;
    color: #707070;
}

.serve, .use, .comp, .nect{
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.0408545px;
    color: #2A3990;
}

.plumb, .elect, .ref, .bat {
    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.0408545px;
    text-decoration: none;
    color: #000000;
}

.req, .tech,.bout, .dia, .con{
    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.0408545px;

    color: #000000;
}

ul{
    list-style-type: none;
}

.line{
    margin-left: 2.5%;
    width: 95%;
    border: 0.5px solid #5C5C5C;
}

.foot{
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 10px 0px;
      font-family: Helvetica;
  font-style: normal;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  /* identical to box height */
  
  letter-spacing: 0.0408545px;
  /* border: 1px green solid; */
  color: #000000;
}

@media (max-width:767px ){
    .hide{
        /* display: none; */
        flex:0%;
    }
    .collapse{
        flex-wrap: wrap;
        /* flex-direction: column; */
        justify-content:end;
    }
    .collapse ul{
        flex: 100%;
    }
    .services, .technicians, .about{
        overflow: hidden;
        margin-right: 10px;
        border-bottom: 1px solid black;
    }
    .signin{
        margin-right: 10px;
    }
    .Group19{
        overflow: hidden;
        width: 440px;
        margin-left: 16px;
    }
    .know{
        margin-top: 1170px;
    }
    .rec561{
        margin-top: 770px;
    }

     .copy {
        display: flex;
    } 

    .qualcol{
        margin-top: -25%;
    }

    .rec558, .rec559{
       width: 400px;
       height: 320px;
       justify-content: center;
       align-items: center;
    }
}